<html>
    <head>
        <title>Hriday Choudhary</title>
        <style> 
            div {
            width: 100px;
            height: 100px;
            background-color: red;
            animation-name: myAnimation;
            animation-duration: 4s;
            }

            @keyframes myAnimation {
            from {background-color: red;}
            to {background-color: yellow;}
            }
        </style>
    </head>
    <body>
        <h1>Hriday Choudhary</h1>
        <p>I am Hriday Choudhary and I am in Berlin Cosmopolitan School. I am very good at Math, this is my favorite sbuject.</p>
        <div></div>
    </body>
</html>