<html>
    <head>
        <title>Hriday Choudhary</title>
    </head>
    <body>
        <h1>Hriday Choudhary</h1>
        <p>I am Hriday Choudhary and I am in Berlin Cosmopolitan School. I am very good at Math, this is my favorite sbuject.</p>
    </body>
</html>